.ki-lab-pageheader{
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin-bottom: 3rem;
	text-align: left;
    background-color: #563d7c;
    color: #cdbfe3;
}
.ki-lab-pageheader h1 {
    font-size: 4rem;
    font-weight: 400;
	 	color: #fff;
}
.ki-lab-pageheader p{
    font-size: 1.5rem;
    
}
.ki-lab-title+p, p{
	font-size: 1.20rem;
	font-weight: 300;
}
.list-group {
    max-width: 400px;
}