.unsupported:before {
    content: "Web Audio non supportée :(";
    color: #fafafa;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    padding: 20px;
    text-align: left;
    display: block;
    background-color: rgba(2, 2, 2, 0.79);
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    z-index: 100000;
}

body.unsupported {
    position: relative;
    overflow: hidden;
}
.ki-lab-pageheader{
	padding-top: 4rem;
	padding-bottom: 4rem;
	margin-bottom: 3rem;
	text-align: left;
    background-color: #563d7c;
    color: #cdbfe3;
}
.ki-lab-pageheader h1 {
    font-size: 4rem;
    font-weight: 400;
	 	color: #fff;
}
.ki-lab-pageheader p{
    font-size: 1.5rem;
    
}
.ki-lab-title+p, p{
	font-size: 1.20rem;
	font-weight: 300;
}
.list-group {
    max-width: 400px;
}